[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-restplus = "==0.12.1"
marshmallow = "==2.16.0"
flask-sqlalchemy = "==2.3.2"

[dev-packages]
mypy = "==0.630"
wemake-python-styleguide = "==0.2.0"

[requires]
python_version = "3.7"
